*{
  margin:0
}
body{
  background-color: rgb(243,246,253);
  font-family: 'Nunito', sans-serif;

}
.logo{
  width:250px
}
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:15px;
  transform:translateY(8vw)
}
.auth--input{
  font-family: 'Roboto Mono', monospace;
  width:280px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px black;
  padding-left: 20px;
  font-size: 20px;
  
}
.auth--submit{
  background-color: rgb(203,32,32);
  border-width: 0;
  border-radius: 20px;
  width:100px;
  height:45px;
  color:white;
  box-shadow: 1px 1px 1px black;
}
.top-sinta{
  position:absolute;
  top:0;
  background-color:rgb(158,25,46) ;
  width:100%;
  height:10vh;;
  z-index: -1;
  

}
.logout{
  
  color:white;
  background-color: rgb(158,25,46);
  border-width: 0;
  float:right;
  margin:2.5vh;
  font-size:40px;
  
}


.chose--logo{
  width:200px;
  margin-left:10vw;
}
/* elarifamine1@gmail.com */
.user--table{
  
  margin-top: 10vh;
  display: flex;
  font-family: 'Roboto', sans-serif;
  
  justify-content: center;
}
.user--table th{
  padding:2vh 3.2vw;
}
.user--table tr{
  background-color: rgba(176, 149, 149,.3);
}
.user--table tr:nth-child(1){
  background-color: rgb(222, 129, 129);
}

.users--button{
  border-width: 0;
  background-color: rgb(43, 148, 167);
  padding:5px 10px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;

}
.add--users{
  position: absolute;
  top: 20vh;
  padding:20px 0;
  display:flex;
 
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  
  width:40vw;
  margin-left: 30vw;
  border-radius: 60px;
  
  

}
.add--users-row{
  margin-top: 5vh;
  display:flex;
  align-items: center;
  
  

}
.add--users th{
  padding:0vw 2vw;
}
.add--users input{
  height:30px;
  width:70%;
  display:flex;
  margin-left:13% ;
  border-radius: 10px;
  text-align: center;
}
.ktab{
  padding:2vh 0px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.centerbutton{
  margin-left: 45vw;
  margin-top: 5vh;
  background-color: rgb(234, 61, 61);
}
.add--submit{
  width:15vw;
  display: flex;
  margin-left: 20vw;
  text-align: center;
}
.center--button{
  
  margin-left: 16vw;
  margin-top: 2vh;
  box-shadow:0 0 0 white;
  
}
.loader {

  text-align: center;
  width: 100%;
  position:absolute;
  top:38vh;
  left:32vw;
  overflow: hidden;
  max-width: 35rem;
  height: 30rem;
  margin: 0 auto;
}

.wait {
  margin: 5rem 0;
}
.iata_code {
    font-size: 6rem;
    opacity:0.3;
  top: 52%;
  position: absolute;
  color: #cc3000;
  }
.departure_city {
  left: 0;
}

.arrival_city {
  right: 1.5rem;
}

.plane {
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

.plane-img {
  -webkit-animation: spin 2.5s linear infinite;
  -moz-animation: spin 2.5s linear infinite;
  animation: spin 2.5s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.earth-wrapper {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  padding-top: 2.7rem;
}

.earth {
  width: 160px;
  height: 160px;
  background: url("https://media.istockphoto.com/vectors/highly-detailed-world-map-vector-id1212074290?k=20&m=1212074290&s=612x612&w=0&h=1f0GWQ7mArPSXIwtLgkH-FtlcodHL0BMk7Sog7S6FWQ=");
  border-radius: 100%;
  background-size: 340px;
  animation: earthAnim 12s infinite linear;
  margin: 0 auto;
  border: 1px solid #d3cdcd;
}

@keyframes earthAnim {
  0% {background-position-x: -80px;}
  100% {background-position-x: -340px;}
}

@media screen and (max-width: 420px) {
  .departure_city {
    left: 0;
    right: 0;
    top: 30%;
    position: absolute;
    margin: 0 auto;
  }
  
  .arrival_city {
    left: 0%;
    right: 0;
    top: 93%;
    position: absolute;
    margin: 0 auto;
  }
  
  
}
.graybackground{
  background-color: rgba(150,150,150,.4);
  
  position: absolute;
  width: 100%;
  height:100%;
  left:0;
  top:0;
}
.main--container{
  background-color: white;
  padding:4vw;
  margin-top: 12vh;
  margin-left:17vw;
  width:60vw;
  border-radius: 30px;
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
 
 
}
.pad{
  padding:1vw;
 
}
.stop{
  border-bottom: .1px solid rgb(160, 150, 150);
}
.contain--img{
  display: flex;
  align-items:center ;
  justify-content: space-between;
}
.center--form{
  position:absolute;
  top:10vh;
  left:25vw;
  background-color: white;
  padding:15vw;
  border-radius: 35px;
margin-top: 2vh;
display: flex;
align-items: center;
flex-direction: column;
gap: 2vh;
}
.arrow-left {
  cursor: pointer;
  position: relative;
  width: 0; 
  height: 0; 
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent; 
  border-right:40px solid rgb(173, 19, 19); 
  left:10vw;
  bottom:10vh;

}
.send--users{
  position: absolute;
  color:white;
  background-color: rgb(158,25,46);
  border-width: 0;
  
  margin:4vh;
  font-size:40px;
  top:-1.5vh;
  right:6vw;

}
.source{
  position: absolute;
  top:25vh;
  left:22vw;
}
.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
}
.files{ position:relative}
.files:after {  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.arrow{
  width: 200px;
  color:#cc3000;
  font-size: 50px;
  position:absolute;
  top:22vh;
  left:17vw;

}
.two{
  font-size: 2.5vw;
  cursor: pointer;

}
.lib{
font-size: 3vw;
font-family: 'Courier New', Courier, monospace;
}
.quit{
  position: absolute;
  top:15vh;
  left:75vw;
  z-index: 10;
  font-size: 3vw;
  cursor: pointer;
}
.quit1{
  position: absolute;
  top:15vh;
  left:70vw;
  z-index: 10;
  font-size: 3vw;
  cursor: pointer;
}
.quit3{
  position: absolute;
  top:3vh;
  left:35vw;
 
  font-size: 40px;
}
.col-md-6{
  background-color: white;
  padding:8vw;
  padding-right: 20vw;
  left:25vw;
  position: absolute;
  top:13vh;
  border-radius: 40px;
}
.quit2{
  z-index: 200;
  position:absolute;
  top:0px;
}
.flexcenter{
  display: flex;
  display: center;
  padding:5px 0 5px;
}

.flexcenter1{
  display: flex;
  display: center;
  justify-content: space-between;
  padding:0 0 1vw 0;

}

.point{
  cursor: pointer;

}

.aligncenter{
 display:flex;
 align-items: center;
}
.lol{
  padding-left: 22vw;
}
.topbottompad{
  padding:1vh 0vw;
}
.icon{
  position:absolute;
  top:48vh;
  left:80vw;
}
.this1{
  position:absolute;
  top:55vh;
  left:80vw;
}
.this2{
  position:absolute;
  top:55vh;
  left:78.5vw;
}
.title{
  position: relative;
  top:24vh;
  left:33vw;
  font-size: 28px;
}
.add-proc-but1{
  position: relative;
  top:65vh;
  left:56vw;
}

