
.labelarea{
    margin: 10px;
    width: 100%;
    height: 150px;
    margin-bottom: 80px;
}
.label{
    border-width: 0px;
    height: 50px;
    margin: 10px;
    margin-left: 17vw;
    padding-left: 15px;
    width: 15vw;
}

.textarea{

    border-width: 0;
    width:100%;
    height: 150px;
    margin:10px;
    margin-left: 17vw;
    padding:10px;
    margin-bottom: 70px;
}
.flextext{

    display: flex;
    align-items: center;
}

.flextext1{

    display: flex;
    align-items: center;
}
.half{
    border-width: 0;

    display:flex;
    float: left;
    width:42% ;
    margin-left: 16.4vw;
    
}
.half1{
    border-width: 0;

    display:flex;
    float: left;
    width:42% ;
    
}
.nass{
        margin-left: 17vw;
        border-width: 0;

    display:flex;
  
        /* width:41% ; */
}

.half textarea{
    width:100% ;
    height: 150px;
    border-width: 0;

}
.big{
    clear:both;
    width:100%;
    border-width: 0;

}

.halfthird1{
    display:flex;
    float: left;
    width:28% ;
    margin-left: 16.4vw;
    border-width: 0;

}
.halfthird2{

    display:flex;
    float: left;
    width:28% ;
    border-width: 0;

    
}
.libthird1{
    display:flex;
    float: left;
    width:28% ;

    border-width: 0;

}
.libthird2{

    display:flex;
    float: left;
    width: 28vw;

    border-width: 0;

}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    }
    
    .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    }
    
    #page-content-wrapper {
    width: 100%;
    padding: 15px;
    }
    
    #page-content-wrapper {
    padding: 20px;
    }
    
    .sidebar1 {
    position: fixed;
    list-style-type:none;
    background-color:rgb(158, 25, 46);
    width:230px;
    height:100%;
    top:0;
    bottom:0;
    left:0;
    text-align:left;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    transition:1s ease;
    }
    .fixed{
        position: fixed;
    }
    .sidebar1 a {
      text-decoration:none;
      color:white;
      transition:1s ease;
    }
    
    .sidebar1 li {
        padding-left:3vw ;
      text-indent: 20px;
      line-height: 40px;
      transition:0.5s ease;
    }
    
    .sidebar1 li:hover {
      background-color:#777;
      cursor:pointer;
      text-indent: 30px;
    }
    
    .sidebar1 > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    }
.table-left{
   
    background-color: white;
    border-radius: 10px;
   
    width: 40vw;
   
    margin:20px 0 70px 17vw;
}
.table-left textarea{
   
    width: 13.5vw;
    height: 10vh;
}

.table-left td {
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
}
.outred{
    color:red;
    font-size: 50px;
}

.flextext10{
    position: relative;
    left:42vw;
    border-width: 0;

}
.graybackground1{
    background-color: gray;
    width: 100%;
    height: 100%;
}
.goleft{
    margin-left: 726px;
}
